@import "_variables";

html, body, #root {
  font-family: 'Share Tech Mono', monospace;
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  background: $dark;
  color: $minty;
  overflow: hidden;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 100vw);
  grid-auto-rows: 100vh;
  .active {
    background:$dark-10;
  }
}